@import url('https://fonts.googleapis.com/css2?family=Knewave&display=swap');

body{
    display: flex;
    width: 100vw;
    background-color: black;
    color:white;
    font-family: 'Knewave', system-ui, ui-rounded, 'Hiragino Maru Gothic ProN', Quicksand, Comfortaa, Manjari, 'Arial Rounded MT', 'Arial Rounded MT Bold', Calibri, source-sans-pro, sans-serif;
}

main{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 65%;
    height: 99vh;
}

header{
    width:35%;
}

header img{
    width: 100%;
    height: 99vh;
}

main form{
    height:66vh;
}

form{
    width:95%;
    padding: 1rem;
    display:flex;
    flex-direction: column;
}

input{
    width:85%;
    margin-top: 2px;
}

fieldset{
    display: flex;
    border: none;
    
}

.main-content{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    height:33vh;
}

form div:not(.form-buttons, .form-content){
    display:flex;
    flex-direction: column;
    width: 48%;
}

.form-buttons{
    display:flex;
    justify-content: center;
    flex-grow: 1;
}

.form-content{
    border-style: inset;
    border-radius: 10px;
    border-color: red;
    border-width: 5px;
    background-color: rgb(82, 81, 66);
    opacity: 0.85;
}

h2{
    font-size: 2.5rem;
}

button{

    height: 2rem;
    border-radius: 5px;    
    margin: 5%;
    padding: 0 10%; 
    background-color: black;
    border-color: red;
    color: white;
}

button:hover{
    background-color: gray;
}


input:invalid{
    border-color: red;
}

.warning{
    color: red;
}